<p id="notice"><%= notice %></p>

<p>
  <b>Spectype:</b>
  <%= @spec.spectype %>
</p>

<p>
  <b>Specname:</b>
  <%= @spec.specname %>
</p>


<%= link_to 'Edit', edit_spec_path(@spec) %> |
<%= link_to 'Back', specs_path %>
